{% extends "questions/questions.html" %}
{% load static %}

{% block subhead %}{% endblock subhead %}

{% block questions_content %}
    {% for question in questions %}
        <div class="question-container {% if question.resolve %}question-resolve{% endif %}" {% if question.resolve %}onclick="showAnswer(this, '{{question.answer}}')"{% endif %}>
            <div class="question-author">
                <p>{{question.author}}</p>
                {% if user_auth.user_auth.username == question.author %}
                    <a href="{% url "questions:delete" question.id %}"><i class="material-icons">delete</i></a>
                {% endif %}
            </div>
            {% if question.resolve and user_auth.is_login %}
                <a href="{% url "questions:add_remove_like" question.id %}" class="check-resolve"><i class="material-icons" style="margin-right: 5px; color: var(--secondary-color);">favorite</i> {{question.likes|length}}</a>
            {% endif %}
            <strong>{{question.title}}</strong>
            <p>{{question.content}}</p>
            {% if question.resolve %}
                <br>
                <div class="question-answer">
                    <strong>Respuesta:</strong>
                    <p></p>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% if questions|length == 0 %}
        <p>No se han encontrado preguntas</p>
    {% endif %}
{% endblock questions_content %}
