{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static "/css/home.css" %}>
    {% block subhead %}{% endblock subhead %}
{% endblock head %}

{% block title %}SAMER{% endblock title %}

{% block header %}
	<div class="container">
		<div class="profile">
			<div class="profile-image">
				<img src={% static "/images/samerlogo.jpg" %} alt="Samer Logo">
			</div>
			<div class="profile-user-settings">
				<h1 class="profile-user-name">samervalme</h1>
				{% comment %} {% if user_auth.is_admin %}
				    <button class="btn profile-edit-btn">Edit Profile</button>
                {% endif %} {% endcomment %}
			</div>
			<div class="profile-bio">
				<p><span class="profile-real-name">Salud Mental En Red - SAMER Valme</span></p>
                <p>💫 Programa de Prevención y Promoción de la Salud Mental ❤️🧠</p>
                <p>🏥 Área Sur de Sevilla - Hospital de Valme</p>
                <p>🌾 Creamos recursos y contenidos En Red.</p>
                <a href="https://www.agssursevilla.org/" target="_blank" rel="noopener noreferrer" class="profile-link">www.agssursevilla.org/agsss</a>
			</div>
		</div>
        {% comment %} <div class="">
            <h2>CARROUSEL</h2>
        </div> {% endcomment %}
        <div class="content-options">
            <h2><a href="{% url "home:home_images" %}">IMAGENES</a></h2>
            <h2><a href="{% url "home:home_videos" %}">VIDEOS</a></h2>
            {% comment %} <h2>GUARDADAS</h2>
            <h2>ETIQUETADAS</h2> {% endcomment %}
        </div>
	</div>
{% endblock header %}

{% block content %}
{% endblock content %}
