{% extends "home/home.html" %}
{% load static %}

{% block subhead %}
    <link rel="stylesheet" href={% static "/css/images.css" %}>
{% endblock subhead %}

{% block content %}
	<div class="container">
		<div class="gallery">
            {% for post in posts %}
			<div class="gallery-item" tabindex="0">
				<img src={{post.url}} class="gallery-image" alt={{post.name}}>
				<div class="gallery-item-info">
					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden material-icons">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i><a href="{% url 'posts:add_remove_like' post.id %}">{{ post.likes|length }} <i class="material-icons">favorite</i></a></li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i><a href="{% url 'posts:comment' post.id %}">{{post.comments}} <i class="material-icons">chat_bubble</i></a></li>
					</ul>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>
{% endblock content %}