{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static "/css/login.css" %}>
{% endblock head %}

{% block title %}SAMER{% endblock title %}

{% block content %}
<div class="container login-container">
    <form method="post" action="{% url "users:login" %}" class="form">
        {% csrf_token %}
        <div class="title">Bienvenido</div>
        <div class="subtitle">Incia sesión en tu cuenta</div>
        <div class="input-container ic1">
            {{login_form.user}}
            <div class="cut"></div>
            <label for="user" class="placeholder">Usuario</label>
        </div>
        <div class="input-container ic2">
            {{login_form.pwd}}
            <div class="cut"></div>
            <label for="pwd" class="placeholder">Contraseña</label>
        </div>
        {% for error in errors %}
            <p>{{error}}</p>
        {% endfor %}
        <button type="submit" class="submit">Inicia sesión</button>
        <a href="{% url "users:signin" %}" class="signin-form">¿No tienes cuenta?</a>
    </form>
</div>
{% endblock content %}