.posts-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 25px;
}

.posts-list {
  margin: 10px;
}

.post-card {
  fill-opacity: .5;
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  padding: 5px;
  margin: 5px;
  border-radius: 12px;
  border: 2px solid var(--primary-color);
}

.post-card:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}