{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static "/css/comment.css" %}>
    {% block subhead %}{% endblock subhead %}
{% endblock head %}

{% block title %}COMMENT{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
    <div class="comment-container">
        <section class="comment-image-container">
            {% block url_content %}{% endblock url_content %}
        </section>
        <div class="comment-list-container">
            {% if post.description %}
                <h3>Descripción:</h3>
                <p class="comment-description">
                    {{post.description}}
                </p>
            {% endif %}
            <h3>Comentarios:</h3>
            {% if comments|length == 0 %}
                <p class="no-comment-list">No hay comentarios</p>
            {% else %}
                <ul class="comment-list">
                {% for comment in comments %}
                    <li>
                        <div class="comment-list-item">
                            <strong>{{comment.author.username}}</strong>
                            {{comment.text}}
                        </div>
                        {% if user_auth.is_login and user_auth.user_auth.id == comment.author.id %}
                            <a href="{% url "posts:remove_comment" post.id comment.id %}"><i class="material-icons">delete</i></a>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <h3 class="">Añade un comentario:</h3>
            <form class="comment-form" id="createCommentForm" action="{% url 'posts:comment' post.id post.type %}" method="post">
                {% csrf_token %}
                <div class="textarea-container">
                    {{form.comment}}
                </div>
            </form>
        </div>
    </div>
    <script src={% static "javascript/comment.js" %}></script>
{% endblock content %}
